@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-title1 {
    @apply font-bold;
  }
  .text-title2 {
    @apply font-bold;
  }
  .text-title3 {
    @apply font-bold;
  }
  .text-body1 {
    @apply font-medium;
  }
  .text-body2 {
    @apply font-medium;
  }
  .text-body2-bold {
    @apply font-bold;
  }
  .text-caption {
    @apply font-medium;
  }
  .text-small {
    @apply font-medium;
  }
}

